.responsive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;

    &.responsive-full {
        width: 100%;
    }

    &.responsive-horizontal {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;

        @media #{$query-small} {
            & {
                flex-direction: column;
                align-items: center;
            }
        }
    }

    .responsive {
        width: $width;
        max-width: 100%;
        min-height: 100%;
    }
}

[ui-view="main"] {
    min-height: 100%;
}
