.boxes-container {
  display: flex;
  flex-wrap: wrap;
  width: $page-width;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  flex-direction: column;

  .box {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.75);
    padding: 16px;
    transition: flex-basis 250ms;
    margin-bottom: 10px;

    ul {
      max-height: 0;
      overflow: hidden;
      transition: all 250ms;
    }

    .show-expanded {
      display: none !important;
    }

    &.expanded {
      background-color: #ff0000;

      .hide-expanded {
        display: none;
      }

      .show-expanded {
        display: inherit !important;
      }

      ul {
        max-height: 999px;
      }
    }

    @media screen and (max-width: $break-small) {
      flex-direction: column;
      align-items: center;
    }

    .logo {
      width: 200px;
      height: 200px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 20px;
    }

    .content {
      flex: 1 1;
      margin-left: 20px;

      @media screen and (max-width: $break-small) {
        margin-left: 0;
      }

      .header {
        margin-top: 10px;

        @media screen and (max-width: $break-small) {
          text-align: center;
        }

        .title {
          margin: 0;
          font-weight: 300;
          font-size: 24px;
        }

        .subtitle {
          font-weight: 300;

          span {
            // preferred line breaks
            display: inline-block;
          }
        }

        .read-more {
          margin-top: 16px;
          display: block;
          padding: 8px 10px;
        }
      }
    }

    .description {
      margin-top: 0.5em;

      ul {
        padding-left: 25px;
      }
    }

    .tags {
      width: 100%;
      margin: 30px 0 15px 0;

      span, a {
        cursor: pointer;
        padding: 8px 10px;
        margin-right: 5px;
        margin-bottom: 5px;
        display: inline-block;

        &.read-more {
          float: right;
        }
      }
    }
  }
}
