.cover {
  width: 100vw;
  height: 50vh;
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1100px) {
    justify-content: flex-end;
  }

  @media screen and (max-width: $break-med) {
    flex-direction: column;
    justify-content: center;
  }

  &.profile {
    background-image: url('/img/profile-cover.png');
    background-repeat: no-repeat;
    background-position: left bottom;

    @media screen and (max-width: $break-med) {
      background-image: none;
    }
  }

  .profile-img {
    display: none;

    @media screen and (max-width: $break-med) {
      display: block;
      background-image: url('/img/profile-cover.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      border-radius: 75px;
      width: 150px;
      height: 150px;
      border: 2px solid black;
      overflow: hidden;
      margin-bottom: 16px;
    }
  }

  .text-container {
    text-align: center;
    margin-bottom: 100px;

    @media screen and (min-width: $break-med) and (max-width: 1100px) {
      text-align: right;
      margin-right: 20px;
    }
  }

  h1 {
    font-weight: 100;
    font-size: 52px;
    margin: 0;

    @media screen and (max-width: $break-med) {
      font-size: 42px;
    }
  }

  h2 {
    font-weight: 300;
    margin: 0;

    @media screen and (max-width: $break-med) {
      font-size: 18px;
    }
  }
}

.overlap {
    z-index: 10;
    margin-top: -200px;
    transform: translateZ(1px); // fix stacking issue with the clip-border'd cover

    @media screen and (max-width: $break-med) {
      margin-top: -50px;
    }
}
