$facts-section-width: 380px;

section.facts-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: $facts-section-width;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: $small-margin;

    .fact-container {
        flex: 1 0 50%;
        border-bottom: 1px solid #ccc;

        &:nth-of-type(odd) {
            border-right: 1px solid #ccc;
        }

        &:nth-last-of-type(1) {
            border-right: 0;
            border-bottom: 0;
            display: flex;
            justify-content: center;
        }

        .fact {
            padding: $small-margin;

            i.fa {

            }

            span {

            }
        }
    }
}
