.section {
  width: $page-width;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;

  &.wide {
    width: 100%;
    margin-right: inherit;
    margin-left: inherit;
    padding: 0;
  }

  .thin {
    width: $page-width;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
  }
}

.section.mission {
  z-index: 5;
  margin-top: -20px;
  background-color: white;
  box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.75);
  padding-bottom: 1px;
  transform: translateZ(1px); // fix stacking issue with the clip-border'd cover
  text-align: center;
}
