.cover {
    width: 100vw;
    height: 50vw;
    max-width: 100%;
    max-height: 50vh;
    background-color: white;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    overflow: hidden;
    position: relative;

    canvas {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: ease-in-out 2s all;
        position: relative;
    }

    .reload {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        z-index: 2;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .notice {
            text-align: center;
            z-index: 2;
            padding: 1em;
            color: rgba(255, 255, 255, 0);
            background-color: rgba(0, 0, 0, 0);
            border-radius: 5px;

            .fa {
                display: block;
                font-size: 2em;
                margin-bottom: 0.5em;
                color: rgba(255, 255, 255, 0);
            }
        }
    }

    &:hover {
        .reload {
            background-color: rgba(0, 0, 0, 0.5);

            .notice {
                color: rgba(255, 255, 255, 1);
                background-color: rgba(0, 0, 0, 0.7);

                .fa {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}

.profile-img {
    margin-top: -150px;
    width: 200px;
    height: 200px;
    max-width: 20vw;
    max-height: 20vw;
    border-radius: 100px;
    background-color: white;
    background-image: url('/img/profile-small.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid black;
    z-index: 2;

    @media screen and (min-width: $break-small) and (max-width: $break-med) {
        margin-top: -100px;
    }

    @media screen and (max-width: $break-small) {
        margin-top: -50px;
        margin-bottom: 12px;
    }
}

article.portfolio-section {
    width: 100%;
    max-width: $page-width;
    display: flex;
    flex-direction: row;
    margin-top: $big-margin;

    @media screen and (max-width: $break-med) {
        flex-direction: column;
    }

    header.label {
        width: $header-width;
        margin-top: $standard-margin;

        @media screen and (max-width: $break-med) {
            width: 100%;
        }

        h2 {
            font-size: 32px;
            font-weight: 200;
            margin-right: $standard-margin;
            text-align: right;

            @media screen and (max-width: $break-med) {
                padding-left: $standard-margin;
                text-align: left;
                margin-bottom: $small-margin;
            }
        }
    }

    section.content {
        background-color: white;
        max-width: 100%;
        width: $page-reduced-width;
        border: 1px solid black;
        padding: $standard-margin $big-margin;

        @media screen and (max-width: $break-med) {
            border: 0;
            width: $page-width;
        }
    }
}

.projects-preview-container {
    .projects-preview {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: $big-margin;

        & > * {
            flex: 1;
            margin: $small-margin;
            margin-top: $small-margin;

            &:hover {
                margin-top: 0;
            }
        }

        @media screen and (max-width: $break-small) {
            flex-direction: column;
        }
    }

    @media screen and (max-width: $break-small) {
        padding-left: 0 !important;
        padding-right: 0 !important;

        .projects-preview > * {
            margin-left: 0;
            margin-right: 0;
            padding-right: 0;
        }

        a.btn-flat {
            padding-right: 24px;
        }
    }
}

.actions {
    margin-top: $standard-margin;
    width: 500px;
    max-width: 100vw;
    background-color: white;
    border: 1px solid black;
    padding-top: $standard-margin;

    @media screen and (max-width: $break-small) {
        border: 0;
    }

    div {
        display: flex;
        flex-direction: row;
        margin-bottom: $standard-margin;

        a {
            display: block;
            padding: $standard-margin;
            flex-grow: 1;

            &:hover {
                .icon .fa, h3 {
                    color: #4aa3df;
                }
            }

            .icon, .icon .fa {
                width: 100%;
                text-align: center;
                font-size: 1.5em;
            }

            h3 {
                margin-top: $small-margin;
                text-align: center;
                font-weight: 200;
            }
        }
    }
}
