article.portfolio-section.section-experience section.portfolio-section-content {
    position: relative;
    overflow: hidden;
    padding-right: 0;

    .experience-more {
        text-align: center;
        width: 100%;
    }

    &.expanded {
        .experience-more {
            display: none;
        }

        section {
            display: flex;
        }
    }

    section {
        flex-direction: row;
        margin-bottom: $standard-margin;
        height: $experience-size + $standard-margin;
        position: relative;
        overflow-x: hidden;

        display: none;
        &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(3) {
            display: flex;
        }

        .experience-shrink {
            display: none;
        }

        &.expanded {
            height: auto;

            .experience-expand {
                display: none;
            }

            .experience-shrink {
                display: block;
            }

            .tag-content {
                display: flex;
                flex-wrap: wrap;
                width: auto;
                white-space: normal;

                a {
                    display: block;
                    border-bottom: none;
                    margin-bottom: $small-margin;

                    article.post--experience {
                        max-width: 400px;
                        @include shadow(6px);
                    }

                    .hidden {
                        opacity: 1 !important;
                    }

                    &:first-of-type {
                        margin-top: 0;
                    }
                }
            }
        }

        header.tag-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: $experience-size;
            width: 150px;
            flex-shrink: 0;

            h3 {
                display: block;
                text-align: right;
                text-transform: uppercase;
            }

            span {
                display: block;
                text-align: right;
                font-weight: 200;
                text-transform: uppercase;
            }

            .experience-expand, .experience-shrink {
                padding: 0;
                text-align: right;
            }
        }

        .tag-content {
            display: block;
            position: relative;
            width: 9999px;
            white-space: nowrap;

            a {
                // text color defined here
                margin-left: $small-margin;
                text-decoration: none;
                display: inline-block;

                &:hover {
                    border-bottom: none;

                    article.post--experience {
                        max-width: 400px;
                        @include shadow(6px);
                    }

                    .hidden {
                        opacity: 1 !important;
                    }
                }

                article.post--experience {
                    // background color defined here
                    max-width: $experience-size;
                    height: $experience-size;
                    overflow: hidden;
                    @include shadow(2px);

                    .hidden {
                        opacity: 0;
                        transition: $animation-length opacity;
                    }

                    header.post-header {
                        padding: $standard-margin;

                        .post-title-container {
                            width: 100%;
                            display: flex;
                            justify-content: flex-end;
                            white-space: normal;

                            h4.post-title {
                                width: $experience-size - (2 * $standard-margin);
                                margin-bottom: $small-margin;
                                text-align: right;
                                height: 44px;
                            }
                        }

                        .caption-left {
                            display: inline;
                            font-weight: 200;
                        }

                        .caption-right {
                            display: inline;
                            float: right;
                            margin-left: $big-margin;
                            font-weight: 200;
                        }
                    }
                }
            }
        }
    }
}
