.home {
    .about {
        color: #ecf0f1;
        background-color: $darkColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        padding-top: 1em;

        .title {
            font-weight: 200;
        }

        .about-container {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: nowrap;

            @media #{$query-small} {
                flex-direction: column;
            }

            .node {
                flex: 0 0 33%;
                padding: 2em;
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: nowrap;

                @media #{$query-small} {
                    padding: 0.5em 2em;
                    flex-basis: auto;
                }

                .icon-container {
                    height: 100px;
                    width: 100px;
                    text-align: center;
                    background-color: #ffffff;
                    color: $darkColor;
                    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 50px;
                }

                h2 {
                    padding-top: 0.6em;
                    text-align: center;
                    font-weight: 200;
                }

                p {
                    line-height: 1.5em;
                }

                a {
                    text-decoration: none;
                    color: $link;
                    border-bottom: 1px dotted $link;
                }

                &.programming {
                    @media #{$query-small} {
                        order: -1;
                    }
                }
            }
        }
    }
}
