.filter-container {
    .filter {
        display: flex;

        .left-column {
            flex: 1 0 75%;

            .title {
                font-weight: 200;
                font-size: 2em;
            }

            .text {
                margin: 0.5em;
                padding: 0.5em;
                width: calc(100% - 3em);
                font-size: 1.3em;
                font-weight: 200;
                font-family: 'Open Sans', sans-serif;
            }
        }

        .right-column {
            flex: 0 1 25%;

            .category-title {
                line-height: 43px;
                font-weight: 200;
            }

            .category-list {
                margin: 0.5em 0;

                .category {
                    margin: 0.5em;
                    background-color: #95a5a6;
                    padding: 0.25em;
                    transition: background-color 250ms;
                    cursor: pointer;

                    i {
                        padding: 0 5px;
                        color: #95a5a6;
                        transition: color 250ms;
                    }

                    &.selected {
                        background-color: $darkColor;
                        color: white;

                        i {
                            padding: 0 5px;
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
