.home {
    .hero {
        display: flex;
        position: relative;
        @media #{$query-medium} {
            flex-direction: column;
        }

        .main {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            height: 75vh;
            width: 100%;
            position: relative;
            flex: 1 1;

            @media #{$query-medium} {
                padding-top: 100px;
                flex-direction: column;
                height: auto;
                text-align: center;
            }

            .logo {
                margin-right: 1em;
                min-width: 455px;
                width: 30%;
                height: 100%;
                background-image: url('/assets/img/ninja.png');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;

                @media #{$query-medium} {
                    margin: 25px 0;
                    max-height: 150px;
                }

                @media #{$query-medium} {
                    min-width: 0;
                    max-width: 480px;
                    width: 100%;
                    flex-basis: auto;
                }

                .sizer {
                    visibility: hidden;
                    max-width: 100%;
                }
            }

            .content {
                padding-left: 1em;
                background-color: rgba(255, 255, 255, 0.5);
                padding-bottom: 5px;
                border-radius: 5px;

                @media #{$query-medium} {
                    width: 100%;
                    flex-basis: auto;
                    padding: 1em;
                }

                .title {
                    font-weight: 200;
                    font-size: 3em;
                    @media #{$query-medium} {
                        font-size: 2em;
                    }
                }

                .mission {
                    font-weight: 200;
                    font-size: 2em;
                    color: $accentText;
                    @media #{$query-medium} {
                        font-size: 1.5em;
                    }
                }
            }

            #visualizerCanvas {
                z-index: -1;
                position: absolute;
                top: 75px;
                left: 0;
                width: 100%;
                height: calc(100% - 75px);
                @media #{$query-medium} {
                    height: calc(100% - 180px);
                }
                @media #{$query-small} {
                    height: calc(100% - 220px);
                }
            }
        }
    }
}
