.play {
    .prompt {
        position: absolute;
        bottom: 50px;
        left: calc(50% - 150px);
        z-index: 5;

        @media #{$query-medium} {
            bottom: 0;
            display: none;
        }

        .btn {
            text-align: center;
            width: 300px;
            z-index: 5;
        }
    }
    .options {
        z-index: 3;
        flex: 0 0;
        flex-basis: 0;
        overflow: hidden;
        transition: all 1000ms;
        background-color: $darkColor;
        box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
        color: white;

        @media #{$query-medium} {
            max-height: 0;
        }

        &.expanded {
            flex-basis: 250px;

            @media #{$query-medium} {
                flex-basis: auto;
                max-height: 999px;
            }
        }

        .values-container {
            width: 250px;
            padding: 90px 20px 20px 20px;

            @media #{$query-medium} {
                display: flex;
                flex-direction: column;
                padding: 5px;
            }

            .value {
                margin: 1em 0;
                @media #{$query-medium} {
                    flex-basis: 33%;
                }
            }

            .value.number {
                label {
                    display: block;
                }
            }
        }

        .submit {
            background-color: white;
            color: black;
            width: 60px;
        }
    }
}
