<div class="slideshow-container" ng-controller="SlideshowCtrl" ng-init="setSkill(skill.id)">
    <div class="slideshow-controls">
        <div class="next" ng-click="nextSlide()"><i class="fa fa-angle-right"></i></div>
        <div class="prev" ng-click="prevSlide()"><i class="fa fa-angle-left"></i></div>
    </div>
    <div class="slides">
        <div class="slide" ng-repeat="(slideIndex, slide) in getSkill(skill.id).data" style="background-image: url('{{ slide.url }}')" ng-style="$first && { 'margin-left': marginLeft }">
            <div class="slide-caption">{{ getCaption(slideIndex) }}</div>
        </div>
    </div>
    <div class="slides-overview">
        <div class="slide-container" ng-repeat="(slideIndex, slide) in getSkill(skill.id).data" ng-class="{ 'current': (slideIndex == currSlide) }" ng-click="changeSlide(slideIndex)">
            <div class="slide" style="background-image: url('{{ slide.url }}')"></div>
        </div>
    </div>
</div>
