html, body {
    width: 100%;
    min-height: 100%;
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #eee;
}

* {
    box-sizing: border-box;
    transition: ($animation-length * 2) all;
}

@mixin shadow($size) {
    box-shadow: $size $size 5px 0px rgba(0,0,0,0.75);
}

@mixin omnishadow() {
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.75);
}

a, .link {
    cursor: pointer;
    color: #0088cc;
    text-decoration: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0);

    &:hover {
        color: #4aa3df;
        border-bottom: 1px dotted #4aa3df;
    }
}

a.unformatted {
    color: inherit;
    border-bottom: 0;

    &:hover {
        color: inherit;
        border-bottom: 0;
    }
}

.btn-flat {
    display: inline-block;
    padding: $small-margin;
    color: #4aa3df;
    text-transform: uppercase;
}

.btn-right {
    float: right;
}

html, body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

h1 {
    font-weight: 200;
    font-size: 52px;

    @media screen and (max-width: $break-small) {
        font-size: 36px;
    }
}
