$break-small: 600px;
$break-med: 1200px;

$page-width: 1400px;
$header-width: 200px;

$animation-length: 250ms;

$experience-size: 100px;

$small-margin: 8px;
$standard-margin: 16px;
$big-margin: 32px;
