.detail {
    .gallery {
        width: 100%;
        height: 600px;
        max-height: 50vh;
        margin-bottom: 16px;
    }

    .gallery-single {

    }

    .gallery-wide {
        padding: 10px 0;
        border-top: 10px dotted #ccc;
        border-bottom: 10px dotted #ccc;
    }

    .gallery-labeled {
        display: flex;
        justify-content: center;

        .image, p, div {
            flex-grow: 1;
        }
    }

    .gallery-flex {
        display: flex;

        .image {
            flex-grow: 1;
        }
    }

    .image {
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}
