.detail {
    .info-blocks-container {
        .info-blocks {
            display: flex;
            align-items: stretch;

            .info-block {
                background-color: white;
                margin: 10px;
                padding: 10px 20px;
                box-shadow: 0px 10px 18px 5px rgba(0,0,0,0.57);

                h2.label {
                    font-weight: 200;
                    margin-bottom: 16px;
                }

                &.summary {
                    flex-basis: 66%;
                }

                &.meta {
                    flex-basis: 33%;
                    .tag {
                        display: inline-block;
                        background-color: #4aa3df;
                        color: white;
                        font-size: 0.8em;
                        padding: 0.5em;
                        margin-right: 0.5em;
                        margin-bottom: 0.5em;
                        -webkit-column-break-inside: avoid;
                    }
                }
            }
        }
    }
}
