<article class="portfolio-section section-experience">
    <header class="portfolio-section-header">
        <h2>Experience</h2>
    </header>
    <section class="portfolio-section-content">
        <%- partial('_section/experience') %>
        <a class="experience-more no-decoration btn-flat">See More</a>
    </section>
</article>
