.portfolio {
    .portfolio-node {
        padding: 0 20px;

        .portfolio-container {
            padding: 20px;
            margin-top: -1em;
        }

        &.portfolio-blank {
            .portfolio-container {
                background-color: white;
            }
        }
    }
}
