a.btn {
    cursor: pointer;
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 0.8em;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    -webkit-column-break-inside: avoid;
}
