<footer class="page-footer">
    <div class="content">
      <div class="navigation">
        <b>Navigation</b>
        <a href="/" class="unstyled">Home</a>
      </div>

      <div class="social">
        <b>Social Media</b>
        <div>
          <a href="https://www.github.com/andreybutenko/" class="unstyled" target="_blank"><i class="fa fa-github fa-fw" aria-hidden="true"></i> @andreybutenko</a>
          <a href="https://www.linkedin.com/in/butenkoandrey/" class="unstyled" target="_blank"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i> @butenkoandrey</a>
          <a href="https://codepen.io/andreybutenko/" class="unstyled" target="_blank"><i class="fa fa-codepen fa-fw" aria-hidden="true"></i> @andreybutenko</a>
          <a href="mailto:andrey@andrey.ninja" class="unstyled"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> andrey@andrey.ninja</a>
        </div>
      </div>
    </div>
</footer>
