<div class="cover profile">
  <div class="profile-img"></div>
  <div class="text-container">
    <h1>Andrey Butenko</h1>
    <h2>Software Development Portfolio</h2>
  </div>
</div>

<div class="section thin overlap">
  <h2 class="highlight">Approach</h2>
</div>

<div class="section thin space-top mission">
  <p>
    Dedicated and ambitious student at the University of Washington with a focus on front-end development.
  </p>
  <p>
    Beyond code, I understand user needs and strive to create a valuable, compelling user experience.
  </p>
  <%- partial('_section/approach') %>
</div>

<div class="section wide experience">
  <h2 class="thin">Experience</h2>
  <%- partial('_section/experience') %>
</div>

<div class="section wide work">
  <h2 class="thin">Personal Projects</h2>
  <%- partial('_section/work') %>
</div>
