<div class="cover profile">
  <div class="profile-img"></div>
  <div class="text-container">
    <h1>Andrey Butenko</h1>
    <h2>Software Development Portfolio</h2>
  </div>
</div>

<div class="section thin overlap">
  <h2 class="highlight">Approach</h2>
</div>

<div class="section thin mission">
  <p>
    I am a dedicated student at the University of Washington, Seattle planning to study Informatics.
  </p>
  <p>
    <b>I go beyond code.</b> I understand the product and the customer so that I can be more effective in my work.
  </p>
  <%- partial('_section/approach') %>
</div>

<div class="section wide experience">
  <h2 class="thin">Experience</h2>
  <%- partial('_section/experience') %>
</div>

<div class="section wide work">
  <h2 class="thin">Personal Projects</h2>
  <%- partial('_section/work') %>
</div>
