<div class="cover profile">
  <div class="profile-img"></div>
  <div class="text-container">
    <h1>Andrey Butenko</h1>
    <h2>Software Development Portfolio</h2>
  </div>
</div>

<div class="section mission overlap">
  <h2>About</h2>
  <p>
    I am a student and software developer living in the Seattle area.
  </p>
  <p>
    For the last year, I have been focusing on mobile app development, but I am excited by any coding challenge.
  </p>
  <p>
    I believe inter-disciplinary knowledge is important in working on any project. Although my specialty is software development, I am eager to apply my familiarity with design and user experience principles to work towards a better product.
  </p>
</div>

<div class="section wide experience">
  <h2 class="thin">Experience</h2>
  <%- partial('_section/experience') %>
</div>

<div class="section wide work">
  <h2 class="thin">Work</h2>
  <%- partial('_section/work') %>
</div>

<div class="section">
  <%- partial('_section/accomplishments') %>
</div>
