.responsive-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
}

.responsive-container.responsive-full {
  width: 100%;
}

.responsive-container.responsive-horizontal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media only screen and (max-width: 550px) {
  .responsive-container.responsive-horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.responsive-container .responsive {
  width: 960px;
  max-width: 100%;
  min-height: 100%;
}

[ui-view="main"] {
  min-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.responsive-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.responsive-container .responsive {
  width: 960px;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 20px;
}

@media only screen and (max-width: 550px) {
  .responsive-container .responsive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.filter-container .filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.filter-container .filter .left-column {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 75%;
  -ms-flex: 1 0 75%;
  flex: 1 0 75%;
}

.filter-container .filter .left-column .title {
  font-weight: 200;
  font-size: 2em;
}

.filter-container .filter .left-column .text {
  margin: 0.5em;
  padding: 0.5em;
  width: -webkit-calc(100% - 3em);
  width: calc(100% - 3em);
  font-size: 1.3em;
  font-weight: 200;
  font-family: 'Open Sans', sans-serif;
}

.filter-container .filter .right-column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 25%;
  -ms-flex: 0 1 25%;
  flex: 0 1 25%;
}

.filter-container .filter .right-column .category-title {
  line-height: 43px;
  font-weight: 200;
}

.filter-container .filter .right-column .category-list {
  margin: 0.5em 0;
}

.filter-container .filter .right-column .category-list .category {
  margin: 0.5em;
  background-color: #95a5a6;
  padding: 0.25em;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
  cursor: pointer;
}

.filter-container .filter .right-column .category-list .category i {
  padding: 0 5px;
  color: #95a5a6;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.filter-container .filter .right-column .category-list .category.selected {
  background-color: #333;
  color: white;
}

.filter-container .filter .right-column .category-list .category.selected i {
  padding: 0 5px;
  color: white;
}

.home .hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 820px) {
  .home .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.home .hero .main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
}

@media only screen and (max-width: 820px) {
  .home .hero .main {
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    text-align: center;
  }
}

.home .hero .main .logo {
  margin-right: 1em;
  min-width: 455px;
  width: 30%;
  height: 100%;
  background-image: url("/assets/img/ninja.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media only screen and (max-width: 820px) {
  .home .hero .main .logo {
    margin: 25px 0;
    max-height: 150px;
  }
}

@media only screen and (max-width: 820px) {
  .home .hero .main .logo {
    min-width: 0;
    max-width: 480px;
    width: 100%;
    -webkit-flex-basis: auto;
    -ms-flex: 0 1 auto;
    flex-basis: auto;
  }
}

.home .hero .main .logo .sizer {
  visibility: hidden;
  max-width: 100%;
}

.home .hero .main .content {
  padding-left: 1em;
  background-color: rgba(255,255,255,0.5);
  padding-bottom: 5px;
  border-radius: 5px;
}

@media only screen and (max-width: 820px) {
  .home .hero .main .content {
    width: 100%;
    -webkit-flex-basis: auto;
    -ms-flex: 0 1 auto;
    flex-basis: auto;
    padding: 1em;
  }
}

.home .hero .main .content .title {
  font-weight: 200;
  font-size: 3em;
}

@media only screen and (max-width: 820px) {
  .home .hero .main .content .title {
    font-size: 2em;
  }
}

.home .hero .main .content .mission {
  font-weight: 200;
  font-size: 2em;
  color: #585858;
}

@media only screen and (max-width: 820px) {
  .home .hero .main .content .mission {
    font-size: 1.5em;
  }
}

.home .hero .main #visualizerCanvas {
  z-index: -1;
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: -webkit-calc(100% - 75px);
  height: calc(100% - 75px);
}

@media only screen and (max-width: 820px) {
  .home .hero .main #visualizerCanvas {
    height: -webkit-calc(100% - 180px);
    height: calc(100% - 180px);
  }
}

@media only screen and (max-width: 550px) {
  .home .hero .main #visualizerCanvas {
    height: -webkit-calc(100% - 220px);
    height: calc(100% - 220px);
  }
}

.play .prompt {
  position: absolute;
  bottom: 50px;
  left: -webkit-calc(50% - 150px);
  left: calc(50% - 150px);
  z-index: 5;
}

@media only screen and (max-width: 820px) {
  .play .prompt {
    bottom: 0;
    display: none;
  }
}

.play .prompt .btn {
  text-align: center;
  width: 300px;
  z-index: 5;
}

.play .options {
  z-index: 3;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0;
  -ms-flex: 0 0;
  flex: 0 0;
  -webkit-flex-basis: 0;
  -ms-flex: 0 1 0;
  flex-basis: 0;
  overflow: hidden;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  background-color: #333;
  box-shadow: -5px 5px 5px 0px rgba(0,0,0,0.75);
  color: white;
}

@media only screen and (max-width: 820px) {
  .play .options {
    max-height: 0;
  }
}

.play .options.expanded {
  -webkit-flex-basis: 250px;
  -ms-flex: 0 1 250px;
  flex-basis: 250px;
}

@media only screen and (max-width: 820px) {
  .play .options.expanded {
    -webkit-flex-basis: auto;
    -ms-flex: 0 1 auto;
    flex-basis: auto;
    max-height: 999px;
  }
}

.play .options .values-container {
  width: 250px;
  padding: 90px 20px 20px 20px;
}

@media only screen and (max-width: 820px) {
  .play .options .values-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5px;
  }
}

.play .options .values-container .value {
  margin: 1em 0;
}

@media only screen and (max-width: 820px) {
  .play .options .values-container .value {
    -webkit-flex-basis: 33%;
    -ms-flex: 0 1 33%;
    flex-basis: 33%;
  }
}

.play .options .values-container .value.number label {
  display: block;
}

.play .options .submit {
  background-color: white;
  color: black;
  width: 60px;
}

.home .widgets .widgets-container.widgets-large {
  width: 960px;
}

@media only screen and (max-width: 960px) {
  .home .widgets .widgets-container.widgets-large {
    display: none;
  }
}

.home .widgets .widgets-container.widgets-large:nth-of-type(even) {
  width: -webkit-calc(960px * 2 / 3);
  width: calc(960px * 2 / 3);
}

.home .widgets .widgets-container.widgets-medium {
  display: none;
  width: -webkit-calc(960px * 2 / 3);
  width: calc(960px * 2 / 3);
}

@media only screen and (max-width: 960px) {
  .home .widgets .widgets-container.widgets-medium {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 820px) {
  .home .widgets .widgets-container.widgets-medium {
    display: none !important;
  }
}

.home .widgets .widgets-container.widgets-medium:nth-of-type(even) {
  width: -webkit-calc(960px * 1 / 3);
  width: calc(960px * 1 / 3);
}

.home .widgets .widgets-container.widgets-small {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media only screen and (max-width: 820px) {
  .home .widgets .widgets-container.widgets-small {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.home .widgets {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1em;
}

.home .widgets .widgets-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-width: 100%;
  margin-top: -webkit-calc((-960px / 3) / 4 - 1px);
  margin-top: calc((-960px / 3) / 4 - 1px);
}

.home .widgets .widgets-container .widget-node {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(960px / 3);
  -ms-flex: 0 0 calc(960px / 3);
  flex: 0 0 calc(960px / 3);
  width: -webkit-calc(960px / 3);
  width: calc(960px / 3);
  height: -webkit-calc(960px / 3);
  height: calc(960px / 3);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.home .widgets .widgets-container .widget-node:nth-of-type(2) {
  margin-left: -1px;
}

.home .widgets .widgets-container .widget-node:nth-of-type(3) {
  margin-left: -1px;
}

.home .widgets .widgets-container .widget-node .name {
  font-weight: 200;
  padding-top: 1em;
}

.home .widgets .widgets-container .widget-node .tag {
  padding: 1em;
}

.home .widgets .widgets-container .widget-node a {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: inherit;
}

.home .widgets .widgets-container.first {
  margin-top: 0;
}

a.btn {
  cursor: pointer;
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 0.8em;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  -webkit-column-break-inside: avoid;
}

.menu-container {
  position: fixed;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  top: 0px;
  height: 75px;
  background-color: rgba(0,0,0,0.8);
  z-index: 9999;
}

.menu-container .menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  font-size: 18px;
}

.menu-container .menu .title {
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1;
  flex-shrink: 1;
  font-weight: bold;
  display: inline-block;
  padding-left: 75px;
  text-align: center;
  text-decoration: none;
  color: white;
  line-height: 75px;
  white-space: nowrap;
}

@media only screen and (max-width: 820px) {
  .menu-container .menu .title {
    padding: 0 15px;
  }
}

.menu-container .menu .tabs {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  text-align: right;
}

.menu-container .menu .tabs .tab {
  display: inline-block;
  padding: 0 75px;
  text-align: center;
  text-decoration: none;
  color: white;
  line-height: 75px;
}

.menu-container .menu .tabs .tab.selected {
  background-color: rgba(0,0,0,0.9);
}

.menu-container .menu .tab-expand {
  cursor: pointer;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  text-align: right;
  display: none;
  color: white;
  font-size: 24px;
  line-height: 75px;
}

.menu-container .menu .tab-expand .icon {
  display: inline-block;
  padding: 0 50px;
  background-color: rgba(0,0,0,0.85);
}

@media only screen and (max-width: 820px) {
  .menu-container .menu.open .tabs,
  .menu-container .menu.open .tabs * {
    max-height: 100%;
  }

  .menu-container .menu .tabs {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    top: 75px;
    text-align: center;
    max-height: 0px;
    -webkit-transition: max-height 250ms;
    transition: max-height 250ms;
    overflow: hidden;
  }

  .menu-container .menu .tabs .tab {
    display: block;
    width: 100%;
    background-color: rgba(0,0,0,0.85);
  }

  .menu-container .menu .tabs .tab.selected {
    background-color: rgba(0,0,0,0.85);
  }

  .menu-container .menu .tab-expand {
    display: block;
  }
}

.detail .article .responsive {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.detail ul li {
  line-height: 1.5em;
}

.detail p {
  line-height: 1.5em;
  margin-top: 0;
}

.detail h1 {
  font-weight: 400;
}

.detail .no-top-margin {
  margin-top: 0;
}

.detail .no-bottom-margin {
  margin-bottom: 0;
}

.detail .slideshow-context {
  width: 100%;
}

.detail .spacer {
  height: 400px;
}

.construction-flag-container {
  margin-top: 1em;
}

.construction-flag-container .construction-flag {
  background-color: #333;
  padding: 2em 2em;
  width: 500px;
  max-width: 100%;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

.construction-flag-container .construction-flag a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}

.construction-flag-container .construction-flag a:hover {
  border-bottom-style: solid;
}

.construction-flag-container .construction-flag .icon-container {
  background-color: white;
  color: #333;
  height: 50px;
  width: 50px;
  text-align: center;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 25px;
  margin-bottom: 0.5em;
}

.detail .gallery {
  width: 100%;
  height: 600px;
  max-height: 50vh;
  margin-bottom: 16px;
}

.detail .gallery-wide {
  padding: 10px 0;
  border-top: 10px dotted #ccc;
  border-bottom: 10px dotted #ccc;
}

.detail .gallery-labeled {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.detail .gallery-labeled .image,
.detail .gallery-labeled p,
.detail .gallery-labeled div {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
}

.detail .gallery-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.detail .gallery-flex .image {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
}

.detail .image {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.detail .header .header-content {
  margin-top: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 30px;
}

.detail .header .header-content h1 {
  font-size: 48px;
  font-weight: 200;
}

.detail .header .header-content .icon {
  margin-bottom: 1em;
  width: 200px;
  height: 200px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-size: cover;
}

.detail .info-blocks-container .info-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.detail .info-blocks-container .info-blocks .info-block {
  margin: 10px;
  padding: 10px 20px;
}

.detail .info-blocks-container .info-blocks .info-block h2.label {
  font-weight: 200;
  margin-bottom: 16px;
}

.detail .info-blocks-container .info-blocks .info-block.summary {
  -webkit-flex-basis: 66%;
  -ms-flex: 0 1 66%;
  flex-basis: 66%;
}

.detail .info-blocks-container .info-blocks .info-block.meta {
  -webkit-flex-basis: 33%;
  -ms-flex: 0 1 33%;
  flex-basis: 33%;
}

.detail .info-blocks-container .info-blocks .info-block.meta .tag {
  display: inline-block;
  background-color: #4aa3df;
  color: white;
  font-size: 0.8em;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  -webkit-column-break-inside: avoid;
}

.feature {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: 1em 0;
}

.feature.feature-dark {
  color: #ecf0f1;
  background-color: #333;
}

.feature.feature-dark .feature-container .feature-directive .node .icon-container {
  background-color: #ffffff;
  color: #333;
}

.feature .title {
  text-align: center;
  font-weight: 200;
}

.feature .feature-container {
  width: 1200px;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 820px) {
  .feature .feature-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.feature .feature-container .feature-directive {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;
  padding: 2em;
}

.feature .feature-container .feature-directive .node {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media only screen and (max-width: 820px) {
  .feature .feature-container .feature-directive .node {
    padding: 0.5em 2em;
    -webkit-flex-basis: auto;
    -ms-flex: 0 1 auto;
    flex-basis: auto;
  }
}

.feature .feature-container .feature-directive .node .icon-container {
  background-color: #333;
  color: #ffffff;
  height: 100px;
  width: 100px;
  text-align: center;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 50px;
}

.feature .feature-container .feature-directive .node h2 {
  padding-top: 0.6em;
  text-align: center;
  font-weight: 200;
}

.feature .feature-container .feature-directive .node p {
  line-height: 1.5em;
}

.feature .feature-container .feature-directive .node a {
  text-decoration: none;
  color: #4aa3df;
  border-bottom: 1px dotted #4aa3df;
}

.feature .feature-container .feature-directive .node a.button {
  display: inline-block;
  text-decoration: none;
  background-color: #4aa3df;
  color: #ffffff;
  padding: 1em;
}

@media only screen and (max-width: 820px) {
  .feature .feature-container .feature-directive .node.feature-first {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
}

.project-ribbon-directive {
  width: 100%;
  opacity: 1;
}

.project-ribbon-directive.ng-enter {
  -webkit-animation-name: content-expand;
  animation-name: content-expand;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.project-ribbon-directive.ng-enter .preview,
.project-ribbon-directive.ng-enter .ribbon-text {
  -webkit-animation-name: content-appear;
  animation-name: content-appear;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.project-ribbon-directive.ng-leave {
  -webkit-animation-name: content-expand;
  animation-name: content-expand;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.project-ribbon-directive.ng-leave .preview,
.project-ribbon-directive.ng-leave .ribbon-text {
  -webkit-animation-name: content-appear;
  animation-name: content-appear;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

@-webkit-keyframes content-expand {
  from {
    max-height: 0;
  }

  to {
    max-height: 999px;
  }
}

@keyframes content-expand {
  from {
    max-height: 0;
  }

  to {
    max-height: 999px;
  }
}

@-webkit-keyframes content-appear {
  0%, 50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes content-appear {
  0%, 50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.project-ribbon {
  padding: 0 20px;
}

.project-ribbon .ribbon-content {
  margin-top: -1em;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding-bottom: 40px;
  overflow-y: hidden;
  box-shadow: 0px 5px 18px 0px rgba(0,0,0,0.75);
}

@media only screen and (max-width: 550px) {
  .project-ribbon .ribbon-content {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.project-ribbon .ribbon-content .hexagon {
  margin-bottom: 1em;
  width: 200px;
  height: 200px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 200px;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-transition: clip-path 250ms, -webkit-clip-path 250ms;
  transition: clip-path 250ms, -webkit-clip-path 250ms;
  cursor: pointer;
}

.project-ribbon .ribbon-content .hexagon:hover {
  -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
  clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0 80%, 0 20%);
}

.project-ribbon .ribbon-content .hexagon:active {
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 98%, 50% 100%, 0 100%, 0 0);
  clip-path: polygon(50% 0%, 100% 0, 100% 98%, 50% 100%, 0 100%, 0 0);
}

.project-ribbon .ribbon-content .preview {
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 20px;
}

@media only screen and (max-width: 550px) {
  .project-ribbon .ribbon-content .preview {
    margin-right: 0;
  }
}

.project-ribbon .ribbon-content .ribbon-icon-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.project-ribbon .ribbon-content .ribbon-icon-text span {
  font-size: 32px;
  color: black;
}

.project-ribbon .ribbon-content .ribbon-text {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1;
  -ms-flex: 1 1;
  flex: 1 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.project-ribbon .ribbon-content .ribbon-text .title {
  margin: 0;
  font-weight: 200;
  font-size: 2em;
}

@media only screen and (max-width: 550px) {
  .project-ribbon .ribbon-content .ribbon-text .title,
  .project-ribbon .ribbon-content .ribbon-text .timeframe {
    display: block;
    text-align: center;
  }
}

.project-ribbon .ribbon-content .ribbon-text .description {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;
}

.project-ribbon .ribbon-content .ribbon-text .footer {
  width: 100%;
}

.project-ribbon .ribbon-content .ribbon-text .footer .tag {
  display: inline-block;
  background-color: #4aa3df;
  color: white;
  font-size: 0.8em;
  padding: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  -webkit-column-break-inside: avoid;
}

.project-ribbon .ribbon-content .ribbon-text .footer .info {
  display: inline-block;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.8em;
  padding: 0.5em;
  -webkit-column-break-inside: avoid;
  float: right;
}

.project-ribbon .ribbon-content .ribbon-text .footer a {
  text-decoration: none;
}

.portfolio .portfolio-node {
  padding: 0 20px;
}

.portfolio .portfolio-node .portfolio-container {
  padding: 20px;
  margin-top: -1em;
}

.portfolio .portfolio-node.portfolio-blank .portfolio-container {
  background-color: white;
}

.skills-container {
  margin-top: 75px;
  padding-top: 10px;
}

.skills-container h1 {
  padding: 0.5em 0;
  text-align: center;
}

.other-skills-container h1 {
  text-align: left !important;
  font-size: 24px;
  padding-bottom: 0 !important;
}

.skills-container .skills-view {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.skills-container .skills-view .skills-tabs-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: right;
  color: white;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0;
  -ms-flex: 0 0;
  flex: 0 0;
  position: relative;
  width: 100%;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.skills-container .skills-view .skills-tabs-container .skills-tab {
  padding: 1em 5px 1em 1em;
  cursor: pointer;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 -webkit-calc(33% - 10px);
  -ms-flex: 0 0 calc(33% - 10px);
  flex: 0 0 calc(33% - 10px);
  margin: 5px;
  background-color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (max-width: 550px) {
  .skills-container .skills-view .skills-tabs-container .skills-tab {
    -webkit-flex-basis: -webkit-calc(50% - 10px);
    -ms-flex: 0 1 calc(50% - 10px);
    flex-basis: calc(50% - 10px);
  }
}

.skills-container .skills-view .skills-tabs-container .skills-tab.selected {
  background-color: #4aa3df;
}

.skills-container .skills-view .skill-container {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
  -ms-flex: 1 0;
  flex: 1 0;
  width: 100%;
  max-width: 100%;
}

.skills-container .technologies {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  padding: 0 1em;
}

.skills-container .technologies .technology-node {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 1em 0;
}

@media only screen and (max-width: 820px) {
  .skills-container .technologies .technology-node {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
}

.skills-container .technologies .technology-node .technology-icon-container {
  margin-top: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 80px;
  -ms-flex: 0 0 80px;
  flex: 0 0 80px;
  width: 80px;
  height: 80px;
  background-color: #333;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.skills-container .technologies .technology-node .technology-icon-container .technology-icon {
  background-color: white;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 75px;
  height: 75px;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.skills-container .technologies .technology-node .technology-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  padding: 1em;
}

.skills-container .technologies .technology-node .technology-content .technology-name {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.skills-container .technologies .technology-node .technology-content .technology-proficiency {
  margin-top: 0.5em;
  font-weight: bold;
  text-align: right;
}

.slideshow-container {
  height: 600px;
  max-height: 50vh;
  position: relative;
}

.slideshow-container .slideshow-controls {
  position: absolute;
  height: 100%;
  width: 100%;
}

.slideshow-container .slideshow-controls .next,
.slideshow-container .slideshow-controls .prev {
  position: absolute;
  height: 100%;
  width: 50%;
  z-index: 999;
  cursor: pointer;
}

.slideshow-container .slideshow-controls .prev i.fa {
  left: 5px;
}

.slideshow-container .slideshow-controls .next {
  right: 0;
}

.slideshow-container .slideshow-controls .next i.fa {
  right: 5px;
}

.slideshow-container .slideshow-controls i.fa {
  position: absolute;
  top: -webkit-calc(50% - 25px);
  top: calc(50% - 25px);
  height: 50px;
  width: 50px;
  font-size: 40px;
  line-height: 50px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  text-align: center;
  border-radius: 25px;
}

.slideshow-container .slides {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.slideshow-container .slides .slide {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #333;
  -webkit-transition: margin-left ease-in-out 750ms;
  transition: margin-left ease-in-out 750ms;
  position: relative;
}

.slideshow-container .slides .slide .slide-caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  color: white;
  padding: 5px;
  line-height: 1.5em;
  font-size: 16px;
  text-align: center;
}

.slideshow-container .slides-overview {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.slideshow-container .slides-overview .slide-container {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex: 1;
  flex-grow: 1;
  height: 100%;
  background-color: black;
  cursor: pointer;
}

.slideshow-container .slides-overview .slide-container .slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  height: 100%;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.slideshow-container .slides-overview .slide-container.current .slide {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/*# sourceMappingURL=styles.css.map */