.skills-container {
    .physical-container {
        margin-bottom: 10em;
        .physical {
            display: flex;
            align-items: stretch;
            border: 3px solid $darkColor;

            .physical-tabs {
                display: flex;
                flex-direction: column;
                text-align: right;
                background-color: $darkColor;
                color: white;
                flex: 0 0 150px;

                .physical-tab {
                    padding: 1em 5px 1em 1em;
                    cursor: pointer;

                    &.selected {
                        background-color: $link;
                    }
                }
            }
            .physical-view {
                max-width: calc(100% - 150px);
                flex-grow: 1;
                padding: 1em;

                .physical-gallery {
                    width: 100%;

                    img {
                        display: block;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}
