.skills-container {
    .skills-view {
        display: flex;
        min-height: 100%;
        flex-direction: column;

        .skills-tabs-container {
            display: flex;
            flex-direction: column;
            text-align: right;
            color: white;
            flex: 0 0;
            position: relative;
            width: 100%;

            flex-direction: row;
            flex-wrap: wrap;
            text-align: center;

            .skills-tab {
                padding: 1em 5px 1em 1em;
                cursor: pointer;
                flex: 0 0 calc(33% - 10px);
                margin: 5px;
                background-color: $darkColor;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                @media #{$query-small} {
                    flex-basis: calc(50% - 10px);
                }

                &.selected {
                    background-color: $link;
                }
            }
        }

        .skill-container {
            flex: 1 0;
            width: 100%;
            max-width: 100%;
        }
    }
}
