<div class="home" ng-controller="HomeCtrl">
    <div class="hero play" ng-controller="PlayCtrl">
        <div class="main">
            <div class="logo"><img class="sizer" src="/assets/img/ninja.png" /></div>
            <div class="content">
                <h1 class="title">Andrey Butenko</h1>
                <h2 class="mission">I create modern solutions to real-world problems.</h2>
            </div>
            <canvas id="visualizerCanvas" resize="true"></canvas>
        </div>
        <div class="options" ng-class="{ 'expanded': expanded }">
            <div class="values-container">
                <div class="value number">
                    <label for="play-points">Number of Intersections</label>
                    <input type="number" min="0" id="play-points" ng-model="points">
                </div>
                <div class="value number">
                    <label for="play-connections">Complexity</label>
                    <input type="number" min="0" id="play-connections" ng-model="connections">
                </div>
                <div class="value number">
                    <label for="play-wait">Delay between changes</label>
                    <input type="number" min="10" id="play-wait" ng-model="wait">
                </div>
                <div class="value checkbox">
                    <input type="checkbox" id="play-rawStyle" ng-model="rawStyle">
                    <label for="play-rawStyle">Alternate Style</label>
                </div>
                <a class="btn submit" ng-click="update()">Apply</a>
            </div>
        </div>

        <div class="responsive prompt">
            <!--a href="https://drive.google.com/open?id=0B1yWsr480mWtUl9VblZXdjRHZVU" target="_blank" class="btn" id="temporary-element" style="text-decoration: none; background-color: red; display: block; font-weight: 600;">IBDT - All Portfolio Images</a>-->
            <a class="btn" ng-click="expanded = !expanded"><span ng-hide="expanded">Click to play with the animation!</span><span ng-show="expanded">Click to minimize menu.</span></a>
        </div>
    </div>
    <div class="feature feature-dark">
        <h2 class="title">How can I solve problems?</h2>
        <div class="feature-container">
            <feature label="Understanding" class="empathy" icon="fa-comments-o">
                The only way to genuinely address a problem is to understand who you're designing for and their unique challenges. In other words, to pursue empathy.
            </feature>
            <feature label="Code" class="programming feature-first" icon="fa-code">
                My specialty is the web. I develop for the full-stack: front-end, back-end, and databases.
                This allows me to coordinate development and increase maintainability on multiple levels.
            </feature>
            <feature label="Knowledge" class="education" icon="fa-graduation-cap">
                I believe understanding multiple perspectives leads to the most effective, creative solutions.
                I'm studying as many areas as possible, including music, business, <a href="http://thisisthefuture.org" target="_blank">design and engineering</a>, and others.
            </feature>
        </div>
    </div>
    <div class="portfolio responsive-container" ng-controller="PortfolioCtrl">
        <div class="filter-container responsive-container">
            <div class="filter responsive">
                <div class="left-column">
                    <h3 class="title">Filters</h3>
                    <input type="text" class="text" ng-model="searchText" placeholder="Type to Filter">
                </div>
                <div class="right-column">
                    <h3 class="category-title">Categories</h3>
                    <div class="category-list">
                        <div class="category" ng-class="{ selected: categorySelected('programming') }" ng-click="categorySwitch('programming')"><i class="fa fa-check"></i> Programming</div>
                        <div class="category" ng-class="{ selected: categorySelected('physical') }" ng-click="categorySwitch('physical')"><i class="fa fa-check"></i> Physical Design</div>
                    </div>
                </div>
            </div>
        </div>
        <project-ribbon ng-repeat="project in projects | filter:{ category: categorySelected() } | filter:searchText as filtered" info="{{ project.id }}"></project-ribbon>

        <div class="project-ribbon responsive-container no-results" style="background-color: #4a4a4a" ng-show="filtered.length == 0">
            <div class="ribbon-content responsive" style="color: white; background-color: #333333">
                <div class="hexagon preview ribbon-icon-text" style="background-color: white;"><span>:(</span></div>
                <div class="ribbon-text">
                    <h2 class="title">{{ searchText }}</h2>
                    <p class="description">Sorry, that doesn't match anything! <a style="background-color: white; color: black;" class="btn" ng-click="searchText = ''">Reset search.</a></p>
                </div>
            </div>
        </div>
        <div class="portfolio-node portfolio-blank responsive-container responsive-full">
            <div class="portfolio-container responsive responsive-container responsive-horizontal"></div>
        </div>
    </div>
    <div class="feature">
        <div class="feature-container">
            <feature class="github" icon="fa-github" btnUrl="https://github.com/ghostmancer" btnTag="github.com/ghostmancer">
                For projects.
            </feature>
            <feature class="email feature-first" icon="fa-envelope-o" btnUrl="mailto:hello@andrey.ninja" btnTag="hello@andrey.ninja">
                For questions!
            </feature>
            <feature class="github" icon="fa-github" btnurl="http://codepen.io/ghostmancer/" btntag="codepen.io/ghostmancer">
                For experiments.
            </feature>
        </div>
    </div>
    <!--
    <div class="widgets">
        <div class="widgets-container widgets-large" ng-class="{ 'first': $index == 0 }" ng-repeat="cluster in widgetCluster.large">
            <div class="widget-node" ng-class="{ 'widget-fade': widget.fade }" ng-repeat="widget in cluster" style="background-color: {{ widget.colors.background }}; color: {{ widget.colors.text }}">
                <h2 class="name" ng-hide="widget.fade">{{ widget.title }}</h2>
                <span class="tag" ng-hide="widget.fade">{{ widget.description }}</span>
                <a href="{{ widget.link }}" ng-hide="widget.fade" style="background-color: {{ widget.colors.button }}; color: {{ widget.colors.buttonText }};" target="_blank">Go to</a>
            </div>
        </div>
        <div class="widgets-container widgets-medium" ng-class="{ 'first': $index == 0 }" ng-repeat="cluster in widgetCluster.medium">
            <div class="widget-node" ng-class="{ 'widget-fade': widget.fade }" ng-repeat="widget in cluster" style="background-color: {{ widget.colors.background }}; color: {{ widget.colors.text }}">
                <h2 class="name" ng-hide="widget.fade">{{ widget.title }}</h2>
                <span class="tag" ng-hide="widget.fade">{{ widget.description }}</span>
                <a href="{{ widget.link }}" ng-hide="widget.fade" style="background-color: {{ widget.colors.button }}; color: {{ widget.colors.buttonText }};" target="_blank">Go to</a>
            </div>
        </div>
        <div class="widgets-container widgets-small first">
            <div class="widget-node" ng-class="{ 'widget-fade': widget.fade }" ng-repeat="widget in widgetCluster.small" style="background-color: {{ widget.colors.background }}; color: {{ widget.colors.text }}">
                <h2 class="name" ng-hide="widget.fade">{{ widget.title }}</h2>
                <span class="tag" ng-hide="widget.fade">{{ widget.description }}</span>
                <a href="{{ widget.link }}" ng-hide="widget.fade" style="background-color: {{ widget.colors.button }}; color: {{ widget.colors.buttonText }};" target="_blank">Go to</a>
            </div>
        </div>
    </div>-->
</div>
