<div class="skills-container responsive-container" ng-controller="SkillsCtrl">
    <div class="skills-view responsive">
        <div class="skills-tabs-container">
            <div class="skills-tab" ng-repeat="(skillIndex, skill) in skills" ng-class="{ 'selected': isTabSelected(skillIndex) }" ng-click="switchToTab(skillIndex)">{{ skill.name }}</div>
        </div>
        <div class="skill-container">
            <h1>{{ getCurrentTab().name }}</h1>
            <div class="skill-view {{ skill.id }}" ng-repeat="(skillIndex, skill) in skills" ui-view="{{ skill.id }}" ng-show="isTabSelected(skillIndex)"></div>
        </div>
    </div>
</div>
