<div class="approach-container">
  <div class="approach">
    <div class="icon-container">
      <i class="fa fa-comments-o"></i>
    </div>
    <h3 class="approach-title">Understanding</h3>
    <p>
      The only way to genuinely address a problem is to pursue empathy: I seek to understand who I'm designing for and their unique challenges.
    </p>
  </div>
  <div class="approach">
    <div class="icon-container">
      <i class="fa fa-code"></i>
    </div>
    <h3 class="approach-title">Code</h3>
    <p>
      I have worked in mobile app development, front-end development, data analysis, and other areas.
    </p>
  </div>
  <div class="approach">
    <div class="icon-container">
      <i class="fa fa-rocket"></i>
    </div>
    <h3 class="approach-title">Action</h3>
    <p>
      Having established understanding and developed code, I work to inspire positive action and change. I believe technology can be used for good.
    </p>
  </div>
</div>
