<% site.categories.findOne({ name: 'Experience' }).posts.sort('priority', -1).each(function(post) { %>
  <%- partial('../work-ribbon', {post: post, index: true}) %>
<% }) %>

<div class="ribbon ribbon-blank">
  <div class="ribbon-body thin">

  </div>
</div>
